@import 'reset.scss';

.title {
  border-bottom: 4px double #DBDBDB;
  font-size: 28px;
  padding-top: 16px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  padding-bottom: 16px;
  background-color: #F5F5F5;
}

.entire-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.interactive {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.color-class {
  width: 25%;
}

.blurb-color {
  text-decoration: underline;
}

.mono-colors {
  display: flex;
  align-items: center;
}

.non-mono-colors {
  display: flex;
  align-items: center;
  width: 100%;
}

.blurb-white {
  background-color: white;
  width: 25%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.blurb-black {
  background-color: black;
  color: white;
  width: 25%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.blurb-grey {
  background-color: grey;
  color: white;
  width: 25%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.blurb-red {
  background-color: red;
  color: white;
  width: 12.5%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.blurb-orange {
  background-color: orange;
  color: white;
  width: 12.5%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.blurb-yellow {
  background-color: yellow;
  color: black;
  width: 12.5%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.blurb-green {
  background-color: green;
  color: white;
  width: 12.5%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.blurb-blue {
  background-color: blue;
  color: white;
  width: 12.5%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.blurb-violet {
  background-color: violet;
  color: white;
  width: 12.5%;
  height: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.split {
  flex-direction: column;
  display: flex;
}

.apparel {
  display: flex;
  justify-content: center;
}

.colors {
  width: auto;
}

.title-h1 {
  font-size: 18px;
}

.intro {
  width: 70%;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.intro-blurb {
  font-size: 18px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 25%;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 4px;
}

.answer-modal {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.style-guide {
  border-radius: 4px;
  font-weight: 500;
  background-color: #008489;
  padding: 5px;
  color: white;
}

.style-guide:hover {
  cursor: pointer;
}

.submit {
  padding: 3px;
  display: block;
  border: none;
  justify-content: center;
}

.submit-button {
  font-weight: 400;
}

// Interactive asset splits horizontal

.hat-props {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
}

.outer-props {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
}

.shirt-props {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
}

.belt-props {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
}

.pants-props {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
}

.shoes-props {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
}

.watch-props {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
}

.black {
  fill: black;
}

.white {
  fill: #d6d6d1;
}

.grey {
  fill: grey;
}

.red {
  fill: red;
}

.orange {
  fill: orange;
}

.yellow {
  fill: #e7de5f;
}

.green {
  fill: green;
}

.blue {
  fill: blue;
}

.violet {
  fill: violet;
}

.brown {
  fill: brown;
}

#hatColor {
  width: 30%;
}

#outerColor {
  width: 30%;
}

#shirtColor {
  width: 30%;
}

#beltColor {
  width: 30%;
}

#pantsColor {
  width: 30%;
}

#shoesColor {
  width: 30%;
}

#watchColor {
  width: 30%;
}

#answer-list {
  text-align: center;
}

.title-h2 {
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

#close-answers {
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  background-color: #008489;
  color: white;
}

#close-answers:hover {
  cursor: pointer;
}

.credits {
  margin-top: 40px;
}
