@import 'reset.scss';

.title {
  border-bottom: 1px solid black;
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
  width: auto;
}

.entire-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.interactive {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 100%;
  align-items: center;
}

.left-side {
  width: 50%;
}

.right-side {
  width: 50%;

}

.split {
  flex-direction: column;
  display: flex;
}

.apparel {
  display: flex;
  justify-content: center;
}

.colors {
  width: 140px;
}
